* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

[class^="col"] {
  padding: 0 10px;
}

.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

nav {
  background-color: white;
  font-size: 10px;
  padding: 10px 0;
  margin: 0 auto;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: white;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}

.menu {
  padding: 15px 0;
}

span {
  text-align: center;
  padding: 10px 10px;
  font-size: 10px;
}

.menu-img1 {
  padding: 0 5px;
  width: 40px;
}

.menu-img2 {
  padding: 0 5px;
  width: 50px;
}

botton {
  border: 1px solid black;
  border-radius: 50px;
  font-size: 10px;
  padding: 10px 15px;
  display: block;
  justify-content: center;
  margin: ;
}

#pustoi {
  display: flex;
  width: 300px;
}

.image {
  height: 70vh;
  width: 380px;
  display: flex;
  justify-content: center;
}

.image2 {
  height: 70vh;
  width: 380px;
}

.t-text {
  display: flex;
  justify-content: flex-start;
}

.img2 {
  padding: 20px 5px;
  margin-top: 60px;
  width: 30px;
}

.t-text1 {
  display: flex;
  font-size: 10px;
  padding: 20px 5px;
  margin: 70px 0 0;
}

.img1 {
  width: 100px;
  height: 30px;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.block3 {
  display: flex;
  height: 80vh;
  padding: 0px 10px 0 10px;
  margin: 0;
}

.text1 {
  font-size: 26px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text2 {
  font-size: 14px;
  padding-right: 100px;
}

.text3 {
  font-size: 26px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text4 {
  font-size: 14px;
}

.block4 {
  display: flex;
  justify-content: right;
}

.image3 {
  height: 80vh;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 20px 10px 0;
  margin: 20px 60px 10px 40px;
}

.text5 {
  font-size: 24px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 70px;
}

.text6 {
  font-size: 14px;
  text-align: center;
  padding: 0 350px 10px 350px;
}

.block5 img {
  width: 200px;
  padding: 5px 50px 5px 50px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
}

.icon img {
  width: 100px;
  padding-left: 30px;
}

.icon1 {
  display: flex;
  flex-wrap: wrap;
}

.icon1 img {
  width: 150px;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 150px;
}

.table1 {
  text-align: left;
  font-size: 14px;
  padding: 0 50px 0 50px;
  margin: 0;
  border-top: 1px solid silver;
}

tr,
td,
th {
  padding: 0 15px 0 15px;
}

.img3 {
  width: 20px;
  padding: 0;
  margin: 0;
}

.text-table {
  font-size: 11px;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.img5 {
  width: 150px;
  margin: 0;
  padding: 0 10px;
}

.img6 {
  width: 100px;
  margin: 0 50px 5px 300px;
  padding: 0 10px;
}

.footer-text {
  font-size: 10px;
  opacity: 0.3;
  width: 800px;
}

.warranty {
  margin: 1rem;
}

.warranty h3 {
  position: relative;
  top: 90px;
  font-weight: 400;
  font-size: 24px;
}

.warranty p {
  position: relative;
  top: 100px;
  color: #222222;
  font-size: 14px;
}

.boost {
  margin: 3rem 1rem;
}

.zen {
  margin: 1rem;
}

.zen h3 {
  position: relative;
  top: 80px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.zen p {
  position: relative;
  top: 90px;
  font-size: 14px;
  color: #222222;
}

.b-bb {
  text-align: center;
}
