* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: white;
  padding: 10px 0 0 0;
  display: flex; 
  justify-content:baseline;   
  font-size: 10px;
  align-items: baseline;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  color: rgb(59, 27, 201);
}
nav a:hover {
  background-color: rgb(215, 215, 224);
  color: white;
}

.container {
  max-width: 987px;
  margin: 0 auto;
   
}
.navbar {
  padding: 10px 0;
  
}
nav ul li span img{
  padding: 5px;
  width: 40px;
}
#img1{
  width: 30px;
}
.menu1{
  display: flex;
}  
.hr1{
  border: 1px solid black;
  padding: 0;
  margin: 0 0 10px 0;
}
 
.block{
  display: flex;
}
.image{
  display: flex;
  justify-content:center;
}

.image img{
  width: 100%;
  height: 100%;
}
.text{
  padding: 100px 20px 10px 10px;
}
#img2{
  width: 50px;
  padding: 0 10px 0 5px;
  margin: 0;
}
#img3{
  display: flex;
  font-size: small;
}