* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
[class^="col"] {
  padding: 0 10px;
}
.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}

nav {
  background-color: white;
  font-size: 10px;
  padding: 10px 0;
  margin: 0 auto;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: white;
  color: black;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}
.menu {
  padding: 15px 0;
}
span {
  text-align: center;
  padding: 10px 10px;
  font-size: 10px;
}
.main1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-img1 {
  padding: 0 5px;
  width: 40px;
}
.menu-img2 {
  padding: 0 5px;
  width: 50px;
}
botton {
  border: 1px solid black;
  border-radius: 50px;
  font-size: 10px;
  padding: 10px 15px;
  display: block;
  justify-content: center;
  margin: ;
}
#pustoi {
  display: flex;
  width: 300px;
}

.block {
  border: 0;
  display: flex;
  width: 100%;
  height: 70vh;
  padding: 0px 10px 0 10px;
}

.image {
  height: 70vh;
  width: 380px;
  display: flex;
  justify-content: center;
}

.block1 {
  border: 0;
  display: flex;
  width: 70%;
  height: 60vh;
  justify-content: right;
}

.block2 {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: left;
}

.image2 {
  height: 70vh;
  width: 380px;
  display: flex;
  justify-content: right;
}

.t-text {
  display: flex;
  justify-content: flex-start;
}

.img2 {
  padding: 20px 5px;
  margin-top: 60px;
  width: 30px;
}

.t-text1 {
  display: flex;
  font-size: 10px;
  padding: 20px 5px;
  margin: 70px 0 0;
}

.img1 {
  width: 100px;
  height: 30px;
}
.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.block3 {
  display: flex;
  height: 80vh;
  padding: 0px 10px 0 10px;
  margin: 0;
}

.text1 {
  font-size: 26px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text2 {
  font-size: 14px;
  padding-right: 100px;
}

.text3 {
  font-size: 26px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text4 {
  font-size: 14px;
}

.block4 {
  display: flex;
  justify-content: right;
}

.image3 {
  height: 80vh;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 20px 10px 0;
  margin: 20px 60px 10px 40px;
}

.text5 {
  font-size: 24px;
  line-height: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 70px;
}
.pustoi1 {
  width: 1700px;
  height: 100px;
}
.text6 {
  font-size: 14px;
  text-align: center;
  padding: 0 350px 10px 350px;
}

.b-bb {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bb {
  border-radius: 50px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
} 

.block5 img {
  width: 200px;
  padding: 5px 50px 5px 50px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
}

.icon img {
  width: 100px;
  padding-left: 30px;
}

.icon1 {
  display: flex;
  flex-wrap: wrap;
}

.icon1 img {
  width: 150px;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 150px;
}

.table1 {
  text-align: left;
  font-size: 10px;
  padding: 0 50px 0 50px;
  margin: 0;
  border-top: 1px solid silver;
}

tr,
td {
  padding: 0 15px 0 15px;
}

.img3 {
  width: 20px;
  padding: 0;
  margin: 0;
}

.text-table {
  font-size: 11px;
  font-weight: 400;
}
.footer {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.img5 {
  width: 150px;
  margin: 0;
  padding: 0 10px;
}
.img6 {
  width: 100px;
  margin: 0 50px 5px 300px;
  padding: 0 10px;
}
.footer-text {
  font-size: 10px;
  opacity: 0.3;
  width: 800px;
}   
.warranty{
  margin: 1rem;
}
.warranty h3{
  font-weight: 400;
  font-size: 24px;
}
.warranty p{
  color: #222222;
  font-size: 14px;
}
.boost{
  margin: 3rem 1rem;
}
.zen h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
.zen p{
  color: #222222;
}